.logout__submit {
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
    margin-right: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 150px;
	color: #4C489D;
	box-shadow: 0px 2px 2px #5C5696;
	cursor: pointer;
	transition: .2s;
    position: relative;
    margin-bottom: 40px;
}

.logout__submit:active,
.logout__submit:focus,
.logout__submit:hover {
	border-color: #6A679E;
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: auto;
	color: #7875B5;
}

.sample-container {
    width: 80%;
    aspect-ratio: 2/1;
    margin: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-type: y mandatory;
}